<app-top-nav></app-top-nav>
<section id="body">

    <div class="container-product">
    
    
       <div class="box-container-product">
    
         
          <div class="box-product" *ngFor="let product of products">
             <div class="image">
                <img src="{{product.image}}" alt="">
             </div>
             <div class="content">
                <h3>{{product.name}}</h3>
                <p style="text-align: justify;">{{product.description | slice:0:200}}...</p>
                <p style="text-align: justify;"><strong>Price: </strong>{{product.price}} Rs</p>
                <p style="text-align: justify;" class="text-info">{{product.category.name}}</p>
             </div>
             <button class="btn btn-primary p-3 " *ngIf="checkInCart(product)===false" (click)="addToCart(product)">Add To Cart</button>
             <button class="btn btn-primary p-3 " *ngIf="checkInCart(product)===true" (click)="removeFromCart(product.id)">Remove From Cart</button>
            </div>

        </div>
     
     </div>
  </section>
<app-footer></app-footer>