<section id="crops">
  <div class="container">
    <h1 class="heading">CROPS</h1>

    <div class="box-container">
      <div class="box" *ngFor="let crop of crops; let i = index">
        <div class="image">
          <img src="{{ crop.image }}" alt="" />
        </div>
        <div class="content">
          <h3>{{ crop.name }}</h3>
          <div style="text-align: justify">
            <p *ngIf="crop.read_more === false">
              {{ crop.maintext | slice:0:100 }}....<span id="dots"></span>
            </p>
            <p *ngIf="crop.read_more === true">
              {{ crop.description | slice:0:crop.description.length }}
            </p>
          </div>

          <button (click)="readMore(i)" id="myBtn" class="btn">
            <span *ngIf="crop.read_more === false">
               Read More
             </span>
             <span *ngIf="crop.read_more === true">
               Read Less
             </span>
          </button>
        </div>
      </div>
    </div>

    <div onclick="load_more()" id="load-more">load more</div>
  </div>
</section>
