<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div  data-aos-duration="1000" class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/a.jpeg" style="height: 100%; width: 50px; border-radius: 40px;" class="fa-2x mx-3 ps-1">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin-home">Home</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Products </a>
  
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLink="/admin-home/add-products"> Add Products </a></li>
                    <li><a class="dropdown-item" routerLink="/admin-home/view-products"> View Products </a></li>
                  </ul>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-home">Issues</a>
              </li>
            
            
          </ul>
          <ul class="navbar-nav d-flex flex-row ms-auto me-3">
            <li class="nav-item me-3 me-lg-0 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                  alt="" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
                <li><button (click)="logout()" class="dropdown-item" routerLink="/admin">Logout</button></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>