<app-top-nav></app-top-nav>
<section id="body" class="vh-100" style="background-color: #425e3dc1">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1530541835461-dedaf9cf368a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YWdyaWN1bHR1cmV8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form
                  #f="ngForm"
                  novalidate
                  (ngSubmit)="onSubmit(f)"
                >
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img
                      src="../../assets/images/a.jpeg"
                      style="height: 100%; width: 50px"
                      class="fa-2x mx-3 ps-1"
                    />
                    <span class="h1 fw-bold mb-0">Rythu</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Sign into your account
                  </h5>

                  <div class="form-outline">
                    <div
                      [hidden]="email.valid || (email.pristine && !f.submitted)"
                    >
                      <small
                        *ngIf="email.errors?.['required'] "
                        class="alert alert-danger"
                      >
                        Email is required
                      </small>
                      <small
                        *ngIf=" email.errors?.['pattern']"
                        class="alert alert-danger"
                      >
                        Email address is invalid
                      </small>
                    </div>
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      [(ngModel)]="user1.email"
                      #email="ngModel"
                      placeholder="Enter Email ID: "
                      name="email"
                      required
                      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    />
                    <label class="form-label" for="form2Example17"
                      >Email ID*</label
                    >
                  </div>

                  <div class="form-outline">
                    <div [hidden]="pwd.valid || (pwd.pristine && !f.submitted)">
                      <small
                        *ngIf="pwd.errors?.['required'] "
                        class="alert alert-danger"
                      >
                        Password is required
                      </small>
                    </div>
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      [(ngModel)]="user1.password"
                      #pwd="ngModel"
                      placeholder="Enter the Password: "
                      name="password"
                      required
                    />
                    <label class="form-label" for="form2Example27"
                      >Password*</label
                    >
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">
                      Login
                    </button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81">
                    Don't have an account?
                    <a routerLink="/signup" style="color: #393f81"
                      >Register here</a
                    >
                  </p>
                </form>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>