<section id="machineries">
    <div class="container">
      <h1 class="heading">MACHINERIES</h1>
  
      <div class="box-container">
        <div class="box" *ngFor="let machine of machines; let i = index">
          <div class="image">
            <img src="{{ machine.image }}" alt="" />
          </div>
          <div class="content">
            <h3>{{ machine.name }}</h3>
            <div style="text-align: justify">
              <p *ngIf="machine.read_more === false">
                {{ machine.maintext }}<span id="dots"></span>
              </p>
              <p *ngIf="machine.read_more === true">
                {{ machine.description }}
              </p>
            </div>
  
            <button (click)="readMore(i)" id="myBtn" class="btn">
              <span *ngIf="machine.read_more === false">
                 Read More
               </span>
               <span *ngIf="machine.read_more === true">
                 Read Less
               </span>
            </button>
          </div>
        </div>
      </div>
  
      <div onclick="load_more()" id="load-more">load more</div>
    </div>
  </section>
  