<app-top-nav></app-top-nav>

<section class="section_all bg-light" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title_all text-center">
          <h3 class="font-weight-bold">
            Welcome To <span class="text-custom">Rythu Website</span>
          </h3>
          <p class="section_subtitle mx-auto text-muted">
            The farmer is the only man in our economy who buys everything at
            retail, <br />sells everything at wholesale, and pays the freight
            both ways
          </p>
          <div class="">
            <i class=""></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row vertical_content_manage mt-5">
      <div class="col-lg-6">
        <div class="about_header_main mt-3">
          <div class="about_icon_box">
            <p class="text_custom font-weight-bold">
              A farmer is a magician who produces money from the mud
            </p>
          </div>
          <h4 class="about_heading text-capitalize font-weight-bold mt-4">
            Farming is the main source of food
          </h4>
          <p class="text-muted mt-3">
            India is one of the world's leading agricultural players and is the
            main source of income for approximately 58 percent of the Indian
            population. However, we have very limited support for farmers. As a
            result, we have designed a platform for farmers' well-being. This
            platform is designed to support farmers in all ways possible during
            their farming season.<br><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus recusandae dolore similique, harum delectus sed, nemo inventore enim, velit accusamus tenetur sit nisi eos quam! Cumque vitae magni molestias voluptatem, sint nisi vel eius neque quidem omnis laborum, architecto iste autem error. Ut ab dolor dolorum placeat nam. Perferendis, sunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab quis enim beatae, quasi mollitia possimus quia eligendi et? Quisquam libero ratione, quasi culpa beatae quia? Eveniet hic ut aspernatur sapiente, sint ab voluptate doloremque nulla mollitia architecto facere asperiores esse suscipit exercitationem odio animi quis quas accusamus harum. 
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img_about mt-3">
          <img
            src="../../assets/images/farmer_about.jpeg"
            alt=""
            class="img-fluid mx-auto d-block"
          />
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              1000+ Issues Solved
            </h5>
            <p class="edu_desc mt-3 mb-0 text-muted">
              We have solved over 1000 issues since the start of our journey
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fab fa-angellist"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              5000+ happy farmers
            </h5>
            <p class="edu_desc mb-0 mt-3 text-muted">
              Over 5000+ farmers have associated with us
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="about_content_box_all mt-3">
          <div class="about_detail text-center">
            <div class="about_icon">
              <i class="fas fa-paper-plane"></i>
            </div>
            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">
              Get your issues resolved in 2 hours
            </h5>
            <p class="edu_desc mb-0 mt-3 text-muted">
              We have a dedicated team of experts with whom you can get in touch
              to get your issues resolved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="section_all bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_all text-center">
                    <h3 class="font-weight-bold">Welcome To <span class="text-custom">Rythu Website</span></h3>
                    <p class="section_subtitle mx-auto text-muted">The farmer is the only man in our economy who buys everything at retail, <br/>sells everything at wholesale, and pays the freight both ways</p>
                    <div class="">
                        <i class=""></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vertical_content_manage mt-5">
            <div class="col-lg-6">
                <div class="about_header_main mt-3">
                    <div class="about_icon_box">
                        <p class="text_custom font-weight-bold">A farmer is a magician who produces money from the mud</p>
                    </div>
                    <h4 class="about_heading text-capitalize font-weight-bold mt-4">Farming is the main source of food</h4>
                    <p class="text-muted mt-3">India is one of the major players in the agriculture sector worldwide and it is the primary source of livelihood for about 58% of India's population.</p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="img_about mt-3">
                    <img src="../../assets/images/farmer_about.jpeg" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                        <p class="edu_desc mt-3 mb-0 text-muted">
                            A design is a plan or specification </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fab fa-angellist"></i>
                        </div>
                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">The website is the result of days of hard work and dedication</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="about_content_box_all mt-3">
                    <div class="about_detail text-center">
                        <div class="about_icon">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                        <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Best platform </h5>
                        <p class="edu_desc mb-0 mt-3 text-muted">We have various fields related to Agriculture and Veterinary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-footer></app-footer>
