<section id="body">
  <div class="main-container">
    <form
      id="form"
      #updateform="ngForm"
      (ngSubmit)="addProduct(updateform.value)"
    >
      <h3
        style="
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 700;
          font-size: 23pt;
        "
        class="p-3"
      >
        ADD PRODUCT
      </h3>
      <div class="form-control">
        <div [hidden]="name.valid || (name.pristine && !updateform.submitted)">
          <small *ngIf="name.errors?.['required'] " class="alert alert-danger">
            Name is required
          </small>
        </div>
        <input
          for="name"
          id="label-name"
          type="text"
          name="name"
          placeholder="Productname"
          ngModel
          #name="ngModel"
          required
        /><br />
        <!-- <small class="alert alert-danger">{{errors?.name}}</small> -->

        <div
          [hidden]="price.valid || (price.pristine && !updateform.submitted)"
        >
          <small *ngIf="price.errors?.['required'] " class="alert alert-danger">
            Price is required
          </small>
        </div>
        <input
          for="name"
          id="label-name"
          type="text"
          name="price"
          #price="ngModel"
          placeholder="Price"
          ngModel
          required
        /><br />

        <div
          [hidden]="image.valid || (image.pristine && !updateform.submitted)"
        >
          <small *ngIf="image.errors?.['required'] " class="alert alert-danger">
            Image is required
          </small>
        </div>
        <input
          type="text"
          name="image"
          placeholder="Image Link"
          ngModel
          #image="ngModel"
          required
        /><br />
        <div [hidden]="description.valid || (description.pristine && !updateform.submitted)">
          <small *ngIf="description.errors?.['required'] " class="alert alert-danger">
            Description is required
          </small>
        </div>
        <textarea
          type="text"
          name="description"
          placeholder="Description"
          ngModel
          #description="ngModel"
          required
        ></textarea
        ><br />
        <select name="cid" ngModel>
          <option value="">--Select Category--</option>
          <option
            *ngFor="let item of categorylist; let i = index"
            value="{{ i + 1 }}"
          >
            {{ item.name }}
          </option></select
        ><br />
        <input class="button" type="submit" name="" value="Add Product" />
      </div>
    </form>
  </div>
</section>
