<!-- <script>
    let counts=setInterval(updated);
    let upto=0;
    function updated(){
        var count= document.getElementById("counter");
        count.innerHTML=++upto;
        if(upto===1000)
        {
            clearInterval(counts);
        }
    }
</script> -->
<!-- <div style="background: rgb(78,173,78);
background: linear-gradient(90deg, rgba(78,173,78,0.9290091036414566) 0%, rgba(78,85,74,1) 100%);" class="row p-5 ">
    <div class="col-sm text-center" >
      <h2 class="fs-1" id>2.50 Million</h2>
      <p class="fs-5">Farmers</p>
    </div>
    <div class="col-sm text-center">
      <h2 class="fs-1">90,000</h2>
      <p class="fs-5">Retailers</p>
    </div>
    <div class="col-sm text-center">
        <h2 class="fs-1">8,677,750</h2>
        <p class="fs-5">Acres Serviced</p>
    </div>
</div> -->
<footer class="foot" style="background-color: rgb(31,55,81); color: #fff;">
<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  <div class="me-5 d-none d-lg-block">
    <span>Get connected with us on social networks:</span>
  </div>
  <div>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>
</section>
<section class="">
  <div class="container text-center text-md-start mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3"></i>Rythu
        </h6>
        <p>
            Farmers are life-givers and we can never replace their work with any profession.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        
        <h6 class="text-uppercase fw-bold mb-4">
          Products
        </h6>
        <p>
          <a href="#!" class="text-reset">Angular</a>
        </p>
        <p>
          <a href="#!" class="text-reset">React</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Vue</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Laravel</a>
        </p>
      </div> -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          Useful links
        </h6>
        <p>
          <a href="#!" class="text-reset">Home</a>
        </p>
        <p>
          <a routerLink="/about" class="text-reset">About Us</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Agriculture</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Veterinary</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3"></i> Pune, Pincode 411011</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          farmer@rythu.com
        </p>
        <p><i class="fas fa-phone me-3"></i> +91 1234567890</p>
        <p><i class="fas fa-print me-3"></i> +91 2345678900</p>
      </div>
    </div>
  </div>
</section>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2023 Copyright:
  <a class="text-reset fw-bold" href="">rythu.com</a>
</div>