table{

    width:95%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
table, th, td{

    border: 1px solid;
    align-items: center;
}
thead{

    font-size:22px;
}
#comment{

    text-align: center;

}
#comment:hover{

    color:green;
}

input [type=text]:hover{

    border: 2px solid black;
}