<app-top-nav></app-top-nav>
<section class="my-issues my-5">
  <h1 style="padding-top:4%; padding-bottom:5%; display: flex; justify-content: center;">MY ISSUES</h1>
  <div class="gt" >
      <table>
      <tr>
          <th>Title</th>
          <th>Address</th>
          <th>Description</th>
          <th>Status</th>
          <th>Comment</th>
      </tr>
      <tr *ngFor="let issue of issues">
          <td>{{issue.title}}</td>
          <td>{{issue.address}}</td>
          <td>{{issue.description}}</td>
          <td>{{issue.status}}</td>
          <td *ngIf="issue.comment!=='--admin--'">{{issue.comment}}</td>
          <td *ngIf="issue.comment==='--admin--'"></td>
      </tr>
      </table>
  </div>
</section>
<app-footer></app-footer>
