* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* videobanner */

.content {
    position: fixed;
    /* bottom: 0; */
    /* background: rgba(0, 0, 0, 0.5); */
    color: #f1f1f1;
    text-align: center;
    width: 100%;
    /* padding: 20px; */
}
  
/* Banner Styling */
.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 5vw;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
 0%,80% {
      transform: rotateY(360deg) 
    }
}


/* CSS Styling for Drop down button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 25px;
    font-size: 2vw;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 2vw;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dropdown-position
  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }