table 
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20%;
}

td, th 
{
  border: 1px solid #dca33b;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) 
{
  background-color: #cbbb60;
}

.gt
{
padding-left: 7%;
padding-right: 7%;
}

@media screen and (max-width: 600px) {
  body {
    font-size: small;
  }
}