/* Styling the Body element i.e. Color,Font, Alignment */
#body{
	height: 100vh;
	/* margin: 0; */
	background-image: url("https://cdn.pixabay.com/photo/2015/05/14/02/22/soil-766281_1280.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.main-container {
	/* background-color: #05c46b;	 */
	font-family: Verdana;
	text-align: center;
    display: flex;
	/* justify-content: center; */
	/* align-items: center; */
    
}


/* Styling the Form (Color, Padding, Shadow) */
form {
	background-color: #fff;
	max-width: 560px;
	width: 560px;
	/* padding: 20px; */
	margin: 20px auto;
	padding: 50px 60px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    
}

/* Styling form-control Class */
.form-control {
	text-align: left;
	margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
	margin-bottom: 10px;
}

/* Styling form-control input,select, textarea */
.form-control input,.form-control select,.form-control textarea {
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	padding: 10px;
	display: block;
	width: 95%;
}



/* Styling Button */
.button {
	/* background-color: #05c46b; */
	border: 1px solid #777;
	border-radius: 2px;
	font-family: inherit;
	font-size: 21px;
	display: block;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}